.main{
    /* background: red; */
    background:linear-gradient(rgba(5, 5, 5, 0.968),rgba(0, 0, 0, 0.968)) ,
    url('https://firebasestorage.googleapis.com/v0/b/shopyecommerce-e73af.appspot.com/o/ProductImages%2F7257918f-8009-4ff2-a25e-0042cad3082a?alt=media&token=febfb9f0-bf86-48b2-a018-cf16c5d5570a') ;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}
.mycard{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
}
.id{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.img1{
    background: rgba(224, 6, 6, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    >img{
        min-width: 250px;
    }
    >h2{
        color: rgb(244, 244, 4);
        text-shadow: 2px 4px black ;
        text-transform: uppercase;
    }
}

.section{
    background: rgba(67, 67, 67, 0.467);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    padding-right: 30px;
}
.sec2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: auto;
    >.img2, .img4, .img5{
        background: rgba(0, 0, 0, 0.266);
        /* padding-left: 10px; */
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.1);

    }
    
}
.btns{

    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    margin: 30px 0;
    >button{
        padding: 10px 0;
        width: 110px;
        background-color: transparent;
        border: 1px solid rgb(63, 63, 63);
        color: white;
        cursor: pointer;
        transition: .5s;
        font-size: 20px;
        font-style: italic;

    }
    >button:active{
        transform: scale(1.19);
    }
    >.like:hover{
        box-shadow:8px -5px 2px rgba(8, 183, 8, 0.804);
        /* color: black; */
    
    }
    >.dislike:hover{
        box-shadow:8px -5px 2px rgba(245, 20, 20, 0.592);

    }
}
.pok{
    position: fixed;
    bottom: 0;
    width: 200px;
    left: 10px;
    transition: 2s;
    >img{
        width: 200px;
    }
}
.pokhide{
    position: fixed;
    bottom: 0;
    width: 200px;
    left: -500px;
    transition: 2s;
    >img{
        width: 200px;
    }
}   
.msg{
    background: rgba(255, 255, 0, 0.974);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    width: 200px;
    padding: 5px;
    top: 20px;
    left: 200px;
    font-weight: 500;
}
.close{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    display: flex;
    color: red;
    cursor: pointer;

}
.section{
    padding-left: 20px;
}
.sec1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    >.power{
        /* background: green; */
        >p{
            font-style: italic;
            font-size: 25px;
            color: rgb(255, 71, 71);
            font-weight: 800;
        }
        >ol{
            /* background: red; */
            padding-top: 10px;
            padding-left: 20px;
            color: white;
            font-size: 20px;
            text-transform: capitalize;
        }
    }
    >p{
        display: flex;
        align-items: center;
        color: yellow;
        text-shadow: 2px 1px black ;
        text-transform: capitalize;
        font-size: 20px;
        /* background: red; */
        >span{
            color: rgb(255, 255, 255);
            text-transform: capitalize;
            width: 80px;
        }
        >P{
            padding-left: 10px;
        }
    }
    
    >span{
        color: rgb(255, 255, 255);
        text-transform: capitalize;
    }
}
.review{
    position: absolute;
    right: -80px;
    width:250px;
    transition: 2s;
}
.reviewhide{
    position: absolute;
    right: -500px;
    width:250px;
    transition: 2s;
}

@media (max-width:700px){
    .section{
        width: 100%;
    }
    .id{
        font-size: 20px;
    }
    .img1{
        >h2{
            color: rgb(244, 244, 4);
            text-shadow: 2px 4px black ;
            text-transform: uppercase;
        }
    }
    .sec1{
        display: flex;
        flex-direction: column;
        gap: 15px;
        >.power{
            >p{
                font-size: 20px;
            }
            >ol{
                /* background: red; */
                padding-top: 10px;
                padding-left: 20px;
                color: white;
                font-size: 15px;
                text-transform: capitalize;
            }
        }
        >p{
            font-size: 15px;
        }
    }
}

@media (max-width:600px){
.pok{
    position: fixed;
    bottom: 0;
    width: 200px;
    left: 10px;
    transition: 2s;
    >img{
        width: 150px;
    }
}
.pokhide{
    position: fixed;
    bottom: 0;
    width: 200px;
    left: -500px;
    transition: 2s;
    >img{
        width: 150px;
    }
}   
.msg{
    position: absolute;
    width: 200px;
    padding: 5px;
    top: -20px;
    left: 150px;
    font-weight: 500;
    font-size: 14px;
    >span{
        padding-left: 2px;
    }
    >.close{
        color: rgb(255, 0, 0);
    }
}
}
@media (max-width:500px){
.pok{
    position: fixed;
    bottom: 0;
    width: 200px;
    left: 10px;
    transition: 2s;
    >img{
        width: 100px;
    }
}
.pokhide{
    position: fixed;
    bottom: 0;
    width: 200px;
    left: -500px;
    transition: 2s;
    >img{
        width: 100px;
    }
}   
.msg{
    position: absolute;
    width: 200px;
    padding: 5px;
    top: -20px;
    left: 80px;
    font-weight: 500;
    font-size: 12px;
    >span{
        padding-left: 2px;
    }
    >.close{
        color: rgb(255, 0, 0);
    }
}
}