.likedPokemons{
    background: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    gap: 100px;
    min-height: 100vh;
}

.left, .right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
}
.left{

    border: 1px solid green;
    box-shadow: 2px -5px 20px green;
    border-radius: 30px;
    >h1{
        color: green;
        font-style: italic;
    }
}
.right{
    /* width: 50%; */
    border: 1px solid rgb(251, 59, 59);
    box-shadow: 2px -5px 20px red;
    border-radius: 30px;
    >h1{
        color: red;
        font-style: italic;
    }
}
.likedlist, .dislikedlist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.info{
    color: yellow;
    font-size: 20px;
}
.likedlist{
position: relative;
}
.dislikedlist{
position: relative;
}
.counters{
    color: rgb(68, 215, 5);
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: -40px;
    right: 20px;
}
.counters2{
    color: rgb(238, 71, 10);
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: -40px;
    right: 20px;
}