.nav{
    background: rgba(0, 0, 0, 0.822);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(198, 198, 3, 0.681);
    position: sticky;
    top: 0;
    z-index: 100;
   padding: 8px;
   /* >ul{
    display: flex;
    align-items: center;justify-content: center;
   } */
   
}
.midlogo{
    >img{
        width: 150px;
    }
}
.logo{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    >img{
        width: 60px;
        animation: plan 10s infinite linear;
    }
    >p{
        color: yellow;
        /* font-size: 50px; */
        /* background: red; */
        font-weight: 700;
    }
}


@keyframes plan {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform:  rotate(360deg);
  }
}
.navbar{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    color: white;
    padding: 10px;
    padding-right: 80px;
    >li{
    text-transform: uppercase;
    font-weight: 600;

    }
    >li:hover{
        transform: scale(1.1);
        color: rgba(0, 0, 0, 0.652);

    }
    
}
.navbarhide{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
    color: white;
    align-items: center;
    padding: 10px;
    padding-right: 80px;
    >li{
        text-transform: uppercase;
        font-weight: 600;
    
        }
    >li:hover{
        transform: scale(1.1);
        color: rgb(244, 244, 4);

    }
    
}
.bur{
    color: white;
    position: absolute;
    right: 20px;
    top: 25px;
    display: none;
    cursor: pointer;
}

@media (max-width:700px){
    .bur{
        display: block;
    }
    .midlogo{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: start;
        color: rgb(0, 0, 0);
        padding: 10px;
        flex-direction: column;
        position: fixed;
        background: rgb(196, 196, 3);
        top:75px;
        bottom: 0;
        width: 250px;
        padding-top: 50px;
        left: 0;
        transition: 1s;
        >li{
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            padding-left: 20px;
            margin-top: 20px;
        
            }
            >li:hover{
                transform: scale(1.1);
                color: rgb(244, 244, 4);
        
            }
        
    }
    .navbarhide{
        display: flex;
        list-style: none;
        gap: 30px;
        color: white;
        padding: 10px;
        padding-right: 50px;
        flex-direction: column;
        position: fixed;
        background: rgb(196, 196, 3);
        top:75px;
        bottom: 0;
        left: -500px;
        width: 200px;
        justify-content: start;
        transition: 1s;
        >li{
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            padding-left: 20px;
            margin-top: 20px;
    
        }
        >li:hover{
            transform: scale(1.1);
        }
        
    }
}